*
{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;  
}

html{
    font-size: 1em;
}

.ensemble{
    margin: 0 auto;
    max-width: 1340px; 
}

h2{
    font-size: 1em;
    font-weight: bolder;
}

h3{
    font-size: 0.95em;
    font-weight: bolder;    
}

h4{
    font-size: 0.875em;
    font-weight: bolder;
}

p{
    font-size: 0.8em;
}

a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}

header a:hover{
    color: #0065FC;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 132px;
    position: relative;
}

.header-logo{
    width: auto;
    height: 50px;
}

.header-logo img{
    height: auto;
    width: 100%;
}

.boutons{
    display: flex;
    flex-flow: wrap row-reverse;
}

.header-boutons{
    display: flex;
    flex-direction: row;
}
.header-bouton-1{
    font-weight: bold;
    color: #0065FC
}

.header-bouton-1, .header-bouton-2{
    background-color: #fff;
    width: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 58px 0px;
    box-sizing: border-box;
    border-top: 2px solid #fff;
}

.header-bouton-1:hover, .header-bouton-2:hover{
    border-color: #0065FC
}

@media all and (max-width: 375px){
    .header-bouton-1{
        position: absolute;
        padding: 0px 0px;
        top: 25px;
        right: -49px;
        height: auto;
        text-align: right;
        border: none;
    }
    .header-bouton-2{
        padding: 20px 0px;
        border-top: none;
        border-bottom: 2px solid #d9d9d9;
    }
    .header-bouton-2:hover{
        border-color: #0065fc;
    }
}

.texte-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texte-presentation h2, .texte-presentation p{
    margin-bottom: 20px;
}

.champ-de-recherche{
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-map-marker-alt{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;  
    border-radius: 10px 0px 0px 10px;
}

.champ-de-recherche form{
    height: 50px;
    width: 234px;
    display: flex;
    align-items: center;
    padding-left: 17px;
    border: solid 1px #f2f2f2;
    box-sizing: border-box;
}
.champ-de-recherche input{
    font-size: 0.95em;
    font-weight: bolder;
    border: none;
    height: 100%;
    width: 100%;
    color: black;
}

.champ-de-recherche input:focus{
    border-color: #fff;
}

.champ-de-recherche input :active{
    border-color: #fff;
}

.champ-de-recherche h4{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 17px 0px 18px;
    background-color: #0065fc;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}


.fa-search{
    background-color: #0065FC;
    color: #fff;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
}
.logo-recherche{
    display: none;
}

@media all and (max-width:375px){
    .champ-de-recherche h4{
        display: none;
    }
    .logo-recherche{
        display: block;
    }
}
.filtres{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
}



.container{
    height: 50px;
    margin-right: 25px;
    
}
.detail-filtres{
    display: flex;
    flex-flow: row wrap;
}

@media all and (max-width: 375px){
    .filtres{
        grid-row-gap: 20px
    }
    .titre-filtres{
        padding-bottom: 20px;
    }
    .detail-filtres{
        grid-row-gap: 13px
    }
    .container{
        margin-right: 10px;
    }
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    }

.logo i{
    font-size: 1em;
}

.nom{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 63px;
    padding-right: 22px;
    border: 2px solid;
    border-color: #d9d9d9;
    border-radius: 25px;
    box-sizing: border-box;
}

.nom:hover{
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.titre-filtres{
    padding: 0px 33px 0px 10px;
}

.div-texte-intermediaire{
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.texte-intermediaire-logo{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;


}
.texte-intermediaire-logo i{
    color: #0065FC;
    font-size: 0.8em;
}
.texte-intermediaire{
    padding-left: 12px;
}

.principal{
    display: flex;
    grid-column-gap: 40px;
    justify-content: space-between;
}
@media all and (max-width: 375px){
    .principal{
        flex-wrap: wrap-reverse;
        grid-row-gap: 50px;
    }

}
#hebergements{
    background-color: #f2f2f2;
    border-radius: 16px;
    max-width: 880px;
}

.titre-hebergements{
    padding: 50px 0px 27px 5%;
}

.container-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;


}

.organisation img{
    height: 200px;
    width: 246px;
    object-fit: cover;
}

.organisation{
    max-width: 246px;
    box-sizing: border-box;
    position: relative;
    border: 5px white solid;
    border-radius: 17px;
    overflow: hidden;
    box-shadow: 0px 3px 25px 3px #d9d9d9;

}

@media all and (max-width: 375px){
    .organisation img{
        width: 335px;
    }
    #hebergements{
        padding: 0px 0px;
        background-color: #fff;
    }
    .organisation{
        max-width: none;
    }
}
.texte-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding-left: 11px;
    height: 33%;
}


.texte-img h3{
    padding-top: 11px;
}
.texte-img .etoiles{
    padding-bottom: 3px;
}
.afficher-plus{
    padding: 50px 0px 50px 5%;
}
    
#populaires{
    background-color: #f2f2f2;
    padding: 46px 38px;
    border-radius: 16px;
}

.les-plus-populaires-titre{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.etoiles{
    display: flex;
    flex-direction: row;
}
.blue{
    color:#0065fc;
}
.grey{
    color:#d9d9d9;
}
.colonne{
    display: grid;
    justify-content: space-around;
    grid-row-gap: 33px;
}

.container-2{
    width: 336px;
    position: relative;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 16px;
    overflow: hidden;
    height: 145px;
    box-shadow: 0px 3px 25px 3px #d9d9d9;
}

@media all and (max-width: 375px){
    #populaires{
        padding: 0px 0px;
    }
}



.texte-img-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    top: 0; 
    left: 37%;
    height: 100%;
    width: 190px;
    position: absolute;
    padding-left: 21px;
}

.img-2{
    width: 127px;
    height: 134px;
    object-fit: cover;
}



.section-quatre{
    padding-bottom: 60px;
}
.section-quatre h2{
    padding-top: 70px;
    padding-bottom: 30px;
}

.container-section-quatre{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



[class^="puzzle"] img{
    width: 302px; 
    object-fit: cover;
}

.puzzle{
    max-height: 445px;
    position: relative;
    box-shadow: 0px 3px 25px 3px #d9d9d9;
    overflow: hidden;
    border-radius: 17px;
}

.disposition-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texte-puzzle{
    height: 56px;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 19px;
    position: absolute;
    bottom: 0;
}

.pic-1, .pic-4{
    height: 445px;
}

.pic-2{
    max-height: 238px;

}

.pic-3{
    height: 163px;
}

.pic-5{
    height: 195px;
}

.pic-6{
    height: 210px;
}

.puzzle img{
    max-width: 100%;
}

@media all and (max-width: 375px){
    .container-section-quatre{
        justify-content: space-around;
        grid-row-gap: 22px;
    }
    .puzzle img{
        width: 335px;
        height: 191px;
        justify-content: space-around;
    }
    .disposition-1{
        grid-row-gap: 22px
    }
    .section-quatre h2{
        padding-top: 0px;
    }    ]
}
footer{
    background-color: #f2f2f2;
}

.footer-container{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0px;
    
    
}


.footer-container div{
    width: 33.33%;
    min-width: 200px;
    
}

footer h3{
    padding-bottom: 30px;
}
footer p{
    padding-bottom: 24px;
}
