*
{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    margin-left: 58px;
    margin-right: 58px;
    
}

h2{
    font-size: 16px;
    font-weight: bolder;
}

h3{
    font-size: 13px;
    font-weight: bolder;    
}

h4{
    font-size: 14px;
    font-weight: bolder;
}
p{
    font-size: 16px;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.boutons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.bouton1{
    font-weight: normal;
    padding: 48px 22px 50px 22px;
    border-top: 2px solid;
    border-color: #fff;
}
.bouton1:hover{
    color: #0065FC;
    font-weight: bolder;
    border-top: 2px solid;
}

.bouton2{
    padding: 48px 22px 50px 22px;
    border-top: 2px solid;
    border-color: #fff;
}
.bouton2:hover{
    color: #0065FC;
    font-weight: bolder;
    border-top: 2px solid;
}

.bouton3{
    padding: 48px 22px 50px 22px;
    color:  #0065FC;
    font-weight: bolder;
    border-top: 2px solid;
    border-color: #fff;
}
.bouton3:hover{
    border-top: 2px solid;

}
.logo-principal{
    width: 100px;
    height: 50px;
}

.logo-principal img{
    height: auto;
    width: 100%;
}

.texte-présentation{
    display: flex;
    flex-direction: column;
}

.trouvez{
    margin-bottom: 20px;
}

.nature{
    margin-bottom: 20px;
}

.ville{
    max-height: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map-marker{
    padding: 17px 20px 17px 20px;
    background-color: #f2f2f2;  
    border-radius: 10px 0px 0px 10px;
}

.texte-marseille{
    border: solid 1px #f2f2f2;
    padding: 17px 71px 17px 17px;
}

.rechercher{
    padding: 17px 18px;
    background-color: #0065fc;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.filtres{
    max-height: 122px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;


}

.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border: 2px solid;
    border-left: none;
    border-color: #d9d9d9;
    border-radius: 25px;
    margin-right: 25px;
}

.logo{
    color: #0065FC;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    
    }

.logo i{
    display: flex;
    font-size: 17px;
}

.nom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
    margin-right: 25px;

}

.nom h3{
    align-items: center;
    justify-content: center;
}

.titre-filtres{
    padding: 0px 33px 0px 10px;
}

.texte-intermédiaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0px; 
}

.logo-texte-intermédiaire{
    padding: 0px 7px;
}
#hébergements{
    padding: 47px 41px;
    background-color: #f2f2f2;
    border-radius: 16px;
    max-width: 800px;
    max-height: 430px;

}
#images-hébergements{
    position: relative;
    border: 5px solid;
    border-color: #fff;
    border-radius: 17px;
    width: 246px;
}

.container-items{
    display: flex;
    flex-flow: row wrap;
}
#titre1{
    margin-bottom: 27px;
}
.texte-img{
    width: 246px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;

}


.texte-img h3{
    padding: 16px 12px;
}
.texte-img p{
    margin-left: 12px;
}
.étoiles{
    display: flex;
    flex-direction: row;
    padding: 11px 12px;
}


    