*
{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    margin-left: 58px;
    margin-right: 58px;
    
}

h2{
    font-size: 18px;
    font-weight: bolder;
}

h3{
    font-size: 14px;
    font-weight: bolder;    
}

h4{
    font-size: 14px;
    font-weight: bolder;
}
p{
    font-size: 16px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.boutons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.bouton1{
    font-weight: normal;
    padding: 48px 22px 50px 22px;
    border-top: 2px solid;
    border-color: #fff;
}
.bouton1:hover{
    color: #0065FC;
    font-weight: bolder;
    border-top: 2px solid;
}

.bouton2{
    padding: 48px 22px 50px 22px;
    border-top: 2px solid;
    border-color: #fff;
}
.bouton2:hover{
    color: #0065FC;
    font-weight: bolder;
    border-top: 2px solid;
}

.bouton3{
    padding: 48px 22px 50px 22px;
    color:  #0065FC;
    font-weight: bolder;
    border-top: 2px solid;
    border-color: #fff;
}
.bouton3:hover{
    border-top: 2px solid;

}
.logo{
    width: 100px;
    height: 50px;
}

.logo img{
    height: auto;
    width: 100%;
}

#texte-présentation{
    display: flex;
    flex-direction: column;
}

.trouvez{
    margin-bottom: 20px;
}

.nature{
    margin-bottom: 20px;
}

#ville{
    max-height: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map-marker{
    padding: 17px 20px 17px 20px;
    background-color: #f2f2f2;  
    border-radius: 10px 0px 0px 10px;
}

.texte-marseille{
    border: solid 1px #f2f2f2;
    padding: 17px 71px 17px 17px;
}

.rechercher{
    padding: 17px 18px;
    background-color: #0065fc;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}